<div class="post">
  <h3 class="post-author"><%= post.author.name %> posted:</h3>
  <h6 class="post-timestamp"><%= post.created_at %></h6>
  <div class="post-content"><%= post.content %></div>
</div>